*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// imports
@import "./app";
@import "./layouts/authentication";
@import "./base/mixin";
@import "./Pages/login";
@import "./layouts/appLayout";
@import "./Pages/knowledgeBase";
