@use "../base//mixin" as *;
.knowledge-base {
    &__header {
        overflow: hidden;
        position: relative;
        padding: 50px 10px 70px 10px;
        border-radius: 5px;
        background: $kb-header;

        > svg {
            position: absolute;
            bottom: -35px;
        }
        .header-text {
            z-index: 1;
        }

        .header-input {
            z-index: 1;
            padding: 10px;
            max-width: 425px;
        }
    }
}
.card-container {
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    height: 100%;
    background: $white;

    > .ant-list-header {
        background: #f6f7f9;
    }
    .card-header {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        gap: 10px;
    }
    .card-item {
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
            background: $kb-header-alt;
        }
        > span {
            font-size: 10px;
        }
    }
}
