@import "../base/mixin"; 

.auth-form {
    background: $white;
    width: fit-content;
    padding: 20px 15px;
    margin: auto;
    border-radius: 5px;
    @include flex-column;

    &__title{
        align-self: center;
    }
    &__paragraph{
        margin-bottom: 10px;
    }


}